

.select {
    
   
   
  background-color: inherit;
  padding: 1rem 1.5rem;
  font-weight: 600;
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;

  width: 12rem;

  cursor: pointer;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.options {
  margin-top: 2rem;
  position: absolute;
  width: 12rem;
  z-index: 1000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  background-color: var(--white);
}
.options li {
  padding-bottom: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .container {
    margin-top: 2rem;
  }
}
