.theme {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
  }
  
  .theme img {
    width: 30px;
  }
  .theme span {
    font-weight: 800;
  }
  
 
  @media screen and (max-width: 700px) {
    .header {
      padding: 2rem;
    }
    .header h1 {
      font-size: 1rem;
    }
    .theme {
      gap: 0.4rem;
    }
    .theme img {
      width: 20px;
    }
    .theme span {
      font-size: 0.8rem;
    }
  }
  